{% extends '_base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block title %}{% endblock %}


{% block heading %}
<div class="pxp-header fixed-top pxp-animate">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" class="pxp-logo text-decoration-none"><img class="pxp-logo" src="{% static 'images/logo2.png' %}" alt=""></a>
                
            </div>
            <div class="col-2 col-md-8 text-center">
                <ul class="pxp-nav list-inline">
                    <li class="list-inline-item">
                        <a href="/">Home</a>

                    </li>
                    <li class="list-inline-item">
                        <a href="#">Afyatoon Library</a>
                        <ul class="pxp-nav-sub rounded-lg">
                            <li><a href="/comic-series">Comics</a></li>
                            <li><a href="/animation-series">Animations</a></li>
                        </ul>

                    </li>
                    <li class="list-inline-item">
                        <a href="#">Therapist Hub</a>
                        <ul class="pxp-nav-sub rounded-lg">
                            <li><a href="{% url 'therapists' %}">Find Therapist</a></li>
                            <li><a href="#">For Therapist</a></li>
                           
                        </ul>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Discover</a>
                        <ul class="pxp-nav-sub rounded-lg">
                            <li><a href="/">Community</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'about' %}">About Us</a>

                    </li>                
                    <li class="list-inline-item pxp-is-last"><a href="{% url 'contact' %}">Contact Us</a></li>
                    {% if user.is_authenticated %}
                    <li class="list-inline-item"><a href="{% url 'account_logout' %}">Log Out</a></li>
                    {% endif %}
                   
                  
                    <li class="list-inline-item pxp-has-btns">
                        <div class="pxp-user-btns">
                            <a href="{% url 'account_login' %}" class="pxp-user-btns-signup pxp-signup-trigger">Sign Up</a>
                            <a href="{% url 'account_login' %}" class="pxp-user-btns-login pxp-signin-trigger">Sign In</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-5 col-md-2 text-right">
                <a href="javascript:void(0);" class="pxp-header-nav-trigger"><span class="fa fa-bars"></span></a>
                <a href="{% url 'account_login' %}" class="pxp-header-user pxp-signin-trigger"><span class="fa fa-user-o"></span></a>
            </div>
        </div>
    </div>
</div>
{% endblock heading %}


{% block content %}


<div class="pxp-content">
    <div class="pxp-blog-posts pxp-content-wrapper mt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-7">
                    <div class="pxp-blog-post-category"><span>{{ page.created_date }}</span><span>{{ page.blog_author }}</span></div>
                    <h1 class="pxp-page-header">{{ page.title }}</h1>
                </div>
            </div>
        </div>

        <div class="container mt-100">
            <div class="row">
                <div class="col-sm-12 col-lg-1">
                    <div class="pxp-blog-post-share">
                        <div class="pxp-blog-post-share-label">Share</div>
                        <ul class="list-unstyled mt-3">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-10">
               
                    {% for block in self.content %}

                    {% include_block block %}

                    {% endfor %}

                </div>
            </div>
        </div>

        <!-- <div class="container mt-100">
            <div class="row">
                <div class="col-sm-12 col-lg-1"></div>
                <div class="col-sm-12 col-lg-10">
                    <div class="pxp-blog-post-block">
                        <div class="pxp-blog-post-comments">
                            <h4>3 Comments</h4>

                            <div class="mt-3 mt-md-4">
                                <div class="media">
                                    <img src="{% static 'images/customer-1.jpg' %}" class="mr-3" alt="...">
                                    <div class="media-body">
                                        <h5>Scott Goodwin</h5>
                                        <div class="pxp-blog-post-comments-date">April 9, 2021 at 2:33 pm</div>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                            ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                            viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                            lacinia
                                            congue felis in faucibus.</p>

                                        <div class="media mt-2 mt-md-3">
                                            <img src="{% static 'images/customer-3.jpg' %}" class="mr-3" alt="...">
                                            <div class="media-body">
                                                <h5>Alayna Becker</h5>
                                                <div class="pxp-blog-post-comments-date">April 9, 2021 at 2:33 pm
                                                </div>
                                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                    scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                                                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                                                    nisi
                                                    vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media mt-2 mt-md-3">
                                    <img src="{% static 'images/customer-4.jpg' %}" class="mr-3" alt="...">
                                    <div class="media-body">
                                        <h5>Erika Tillman</h5>
                                        <div class="pxp-blog-post-comments-date">April 9, 2021 at 2:33 pm</div>
                                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                            ante
                                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                            viverra
                                            turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                            lacinia
                                            congue felis in faucibus.</p>
                                    </div>
                                </div>
                            </div>

                            <h4 class="mt-4 mt-md-5">Leave a comment</h4>
                            <form action="http://pixelprime.co/themes/resideo/light/single-post.html"
                                class="pxp-blog-post-comments-form mt-3 mt-md-4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="pxp-blog-post-comments-name">You Name</label>
                                            <input type="text" class="form-control" id="pxp-blog-post-comments-name"
                                                placeholder="Enter your full name">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="pxp-blog-post-comments-email">You Email</label>
                                            <input type="text" class="form-control" id="pxp-blog-post-comments-email"
                                                placeholder="Enter your email address">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pxp-blog-post-comments-reply">Leave a Reply</label>
                                    <textarea class="form-control" id="pxp-blog-post-comments-reply" rows="6"
                                        placeholder="Write your comment here..."></textarea>
                                </div>
                                <a href="#" class="pxp-blog-post-comments-form-btn">Post Comment</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>


{% endblock %}